{% extends 'base.html' %}

{% block title %}
<title>Reset Password - Expense Tracker</title>
{% endblock title %}

{% block background %}
<body class="bg">
{% endblock %}

{% block content %}

<div class="font-poppins mt-5 signup-div">
    <div class="div-trans-purple col-lg-6">
        <h2 class="py-3 font-poppins">Password Reset Confirm</h2>
        <p>Please enter your new password.</p>
        <form class="pb-4" method="post">
            {% csrf_token %}
            {% for field in form %}
            <p class="font-poppins font-poppins-navbar">
                {{ field.label_tag }}
                <br>
                <span class="form-label">{{ field }}</span>
                {% for error in field.errors %}
            <p class="text-danger bg-warning">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <button class="text-white CTA-button px-5" type="submit">RESET PASSWORD</button>
        </form>
    </div>
</div>
<div class="col-lg-6">
</div>

{% endblock %}