{% extends 'base.html' %}
{% block title %}
<title>Password Reset - Expense Tracker </title>
{% endblock title %}


{% block content %}

<div class="font-poppins mt-5 signup-div">
    <div class="col-lg-6">
        <h2 class="py-3 font-poppins">Forgot Your Password?</h2>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
        {% if error %}
        <p class="text-danger bg-warning">{{ error }}</p>
        {% endif %}
        <form class="pb-4" method="post">
            {% csrf_token %}
            {% for field in form %}
            <p class="font-poppins font-poppins-navbar">
                {{ field.label_tag }}
                <br>
                <span class="form-label">{{ field }}</span>
            </p>
            {% endfor %}
            <button class="text-white CTA-button px-5" type="submit">RESET</button>
        </form>
    </div>
</div>
<div class="col-lg-6">
</div>
</div>

{% endblock content %}
