{% extends 'base.html' %}

{% block title %}
<title>Create Budget - Expense Tracker</title>
{% endblock title %}

{% block background %}
<body class="bg-1">
{% endblock %}

{% block content %}

<div class="font-poppins mt-5 signup-div row">
    <div class="col-lg-6 text-center">
        <h2 class="py-3 font-poppins">{{ budget|capfirst }} Budget Statistics</h2>
        {% if expenses %}
        <table class="text-white table table-sm" id="myTable">
            <thead class="thead-dark">
            <tr>
                <th>Category</th>
                <th>Total price[{{ budget.currency }}]</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.category }}</td>
                <td>{{ expense.total_price|floatformat:2 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p>No data to show.</p>
        {% endif %}
    </div>
    <div class="col-lg-6 text-center">
        <canvas id="pie-chart"></canvas>
    </div>
</div>

{% endblock content %}

{% block charts %}
<script>

    var chart_1 = {
        type: 'pie',
        data: {
            datasets: [{
                data: {{ chart_1_data.data|safe }},
                backgroundColor: {{ chart_1_data.colors|safe }},
                label: 'Population'
            }],
            labels: {{ chart_1_data.labels|safe }}
        },
        options: {
            responsive: true,
            title: {
                display: true,
                position: 'top',
                text: 'Structure of Expenses by Category [%]',
                fontSize: 18,
            }
        }
    };

    Chart.defaults.global.defaultFontColor = 'white';
    window.onload = function () {
        var ctx = document.getElementById('pie-chart').getContext('2d');
        window.myPie = new Chart(ctx, chart_1);
    };

</script>
{% endblock charts %}