{% extends 'base.html' %}

{% block title %}
<title>Create Budget - Expense Tracker</title>
{% endblock title %}

{% block background %}
<body class="bg-1">
{% endblock %}

{% block content %}

<div class="font-poppins mt-5 signup-div row">
    <div class="col-lg-6 text-center">
        <h2 class="py-3 font-poppins">{{ budget|capfirst }} Budget Statistics</h2>
        {% if expenses %}
        <table class="text-white table table-sm" id="myTable">
            <thead class="thead-dark">
            <tr>
                <th>Category</th>
                <th>Total price[{{ budget.currency }}]</th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.category }}</td>
                <td>{{ expense.total_price|floatformat:2 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p>No data to show.</p>
        {% endif %}
    </div>
    <div class="col-lg-6 text-center">
        <div>
            <canvas id="pie-chart-1"></canvas>
        </div>
        <div>
            <canvas id="pie-chart-2"></canvas>
        </div>
    </div>
</div>

{% endblock content %}

{% block charts %}
<script>

Chart.defaults.global.defaultFontColor = 'white';

$(function () {
    var ctx = document.getElementById("pie-chart-1").getContext('2d');
    var data = {
        datasets: [{
            data: {{ chart_1_data.data|safe }},
            backgroundColor: {{ chart_1_data.colors|safe }},
        }],
        labels: {{ chart_1_data.labels|safe }}
    };
    var myDoughnutChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: {
            title: {
                display: true,
                position: 'top',
                text: 'Structure of Expenses by Category [%]',
                fontSize: 18,
            },
            responsive: true,
            legend: {
                position: 'bottom',
                labels: {
                    boxWidth: 15
                }
            }
        }
    });

    var ctx_2 = document.getElementById("pie-chart-2").getContext('2d');
    var data_2 = {
        datasets: [{
            data: {{ chart_2_data.data|safe }},
            backgroundColor: {{ chart_2_data.colors|safe }},
        }],
        labels: {{ chart_2_data.labels|safe }}
    };
    var myDoughnutChart_2 = new Chart(ctx_2, {
        type: 'doughnut',
        data: data_2,
        options: {
            title: {
                display: true,
                position: 'top',
                text: 'Structure of Expenses by User [%]',
                fontSize: 18,
            },
            responsive: true,
            legend: {
                position: 'bottom',
                labels: {
                    boxWidth: 12
                }
            }
        }
    });
});

</script>
{% endblock charts %}