{% extends 'base.html' %}
{% block title %}
<title>Welcome - Expense Tracker </title>
{% endblock title %}


{% block content %}

<div class="row font-poppins mt-5">
    <div class="col-lg-6">
        <h1 class="font-poppins-title-700">EXPENSE</h1>
        <h1 class="font-poppins-title-300">TRACKER</h1>
        <h4 class="font-open-sans mt-5">Log in or sign up and start saving with us today.
          Take control of your expenses.
        </h4>
        <div class="flex mt-5">
            <a href="{% url 'login' %}">
            <button class="font-poppins-CTA-300 font-poppins text-white CTA-button py-1 px-5 mx-1">LOGIN</button>
            </a>
            <a href="{% url 'signup' %}">
            <button class="font-poppins-CTA-300 font-poppins text-white CTA-button py-1 px-5 mx-1 mt-2">SIGN UP</button>
            </a>
        </div>
    </div>
    <div class="col-lg-6">
    </div>
</div>

{% endblock content %}