{% extends 'base.html' %}
{% block title %}
<title>Welcome - Expense Tracker </title>
{% endblock title %}


{% block content %}

<div class="row font-poppins mt-5">
    <div class="col-lg-6">
        <h3 class="my-3">Add expenses to database by choosing category and entering amount.</h3>
        <img src="#" alt="Screenshot expenses list">
        <h3 class="my-3">Control your expenses month by month by analysing charts.</h3>
        <img src="#" alt="Screenshot with charts">
        <hr>
        <h4 class="font-open-sans mt-2">Do you still have doubts? Check now how easy it is to save.
          Take control of your expenses now.</h4>
        <div class="flex mt-5">
            <button class="font-poppins-CTA-300 font-poppins text-white CTA-button py-1 px-5 mx-1">LOGIN</button>
            <button class="font-poppins-CTA-300 font-poppins text-white CTA-button py-1 px-5 mx-1 mt-2">SIGN UP</button>
        </div>
    </div>
    <div class="col-lg-6">
    </div>
</div>

{% endblock content %}