{% extends 'base.html' %}
{% block title %}
<title>Welcome - Expense Tracker </title>
{% endblock title %}


{% block content %}

<div class="font-poppins mt-5 signup-div">
<div class="div-trans-purple col-lg-6">
    <h2 class="pt-3">Sign up</h2>
    <form class="pb-3" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p class="font-poppins font-poppins-navbar">
            {{ field.label_tag }}
            <br>
        <span class="form-label">{{ field }}</span>
            {% if field.help_text %}
            <br>
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button class="text-white CTA-button px-5" type="submit">CREATE ACCOUNT</button>
    </form>
</div>
</div>
<div class="col-lg-6">
</div>
</div>

{% endblock content %}